/* Footer luôn ở dưới */
.footer {
  background: black;
  color: white;
  text-align: center;
  height: 10vh;
  padding: 10px;
  background-color: #1c2c5e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
